@page
@model TripTracker.UI.Pages.Trips.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Trip.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
